h2 {
	color: blue;
}

.navbar {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;

    .navbar-left, .navbar-right {
    	display: inline-block;
    	height: 50px;
    }

    .navbar-right {
    	float: right;

    	.user-status {
    		div {
    			display: inline-block;
    			vertical-align: top;
			    padding-top: 20px;
			    padding-right: 20px;
    		}

    		.profile-picture {
				height: 50px;
			}

			button {
				vertical-align: top;
			    margin-top: 20px;
			    border: none;
			    margin: 20px 10px;
			}
    	}
    } 
}

.page-content {
	padding-top: 80px;
}

