* {
    font-family: Raleway;
}

.navbar {   
    font-family: 'Raleway', sans-serif;
    font-size: 11px;
    font-weight: 300;
    
    .navbar-nav li {
        cursor: pointer;
    }

    .profile-picture {
        height: 45px;
        padding-top: 3px;
        padding-left: 10px;
    }
}


.page-content {
	padding-top: 80px;
}

.video-background {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    opacity: 0.9;
    background: no-repeat;
    background-size: cover;
}

    
.jumbotron {
    text-align: center;
    background-color: rgba(253, 255, 255, 0.42);
    width: 100%;

    .signed-in-btn, .sign-in-btn {
        width: 80%;
        margin-top: 30px;
        height: 42px;
        font-size: 20px;
        font-weight: 200;
    }

    .signed-in-btn {
        color: white;
        background-color: rgb(169, 85, 85);
    }

}